* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header styling */
header {
    display: flex;
    height: 100px;
}


.quizScore {
    align-items: flex-end;
}

.headerTitle, .quizScore {
    display: inline-block;
}

/*things concerning that "main" part*/
.quizStart {
    height:640px;
    width: 640px;
}

.introImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* buttons */
button {
    width: 100%;
    border: none;
} 

