* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: 'Days One', Verdana, sans-serif;
    background-image: url('https://i.imgur.com/rX81rT7.jpg');
    background-repeat: repeat;
}

.container {
    text-align: center;
    padding-top: 7rem;
    width: 80%;
}


/* header styling */
header {
    position: fixed;
    top: 0; 
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #2D3D14;
    text-align: center;
    text-transform: uppercase;
    
}

h1, h2, h3, h4 {
    font-family: 'Days One', Verdana, sans-serif;
    text-align: center;
    padding: 10px;
}

p {
    font-family: 'Days One', Verdana, sans-serif;
}
.quizProgress {
    list-style: none;
    color: white;
}

/*things concerning that "main" part*/

.questionAnswerForm {
    display: none;
}
.quizStart, .questionAnswerForm, .correctFeedback, .wrongFeedback, .results {
    width: 100%;
    background-color: #B2D67D;
    color: #2D3D14;
}

.answerItem {
    background-color: #648A2C;
    color: white;
    width: 100%;
}



form ul {
    list-style: none;
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

form input {
    visibility: 
}

.answerItem:hover, .answerItem:active {
    background-color: #2D3D14;
    cursor: pointer;
}

form, label {
    margin: 10px;
}

fieldset {
    border: none;
}

/* Images */
.introImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    border-radius: 50%;
    height: auto;
    padding: 10px;
}

.feedbackImg, .resultsImg {
    border-radius: 50%;
    padding-bottom: 10px;
}

.answerItem {
    padding: 15px 30px;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    border: none;
}

/* buttons */
button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 3.5rem;
    border: none;
    font-family: 'Days One', Verdana, sans-serif;
    text-transform: uppercase;
    background-color: #42591C;
    color: white;
} 



